<mat-card class="caja">
    <mat-card-header>
        <mat-card-title class="truncateTitulo" [ngStyle]="{
        color:
          incidencia.DetalleSeveridad == 'Muy baja'
            ? '#B0BFD6'
            : incidencia.DetalleSeveridad == 'Baja'
            ? '#ADD8E6'
            : incidencia.DetalleSeveridad == 'Media'
            ? '#F6DE0C'
            : incidencia.DetalleSeveridad == 'Alta'
            ? '#EF7F1A'
            : incidencia.DetalleSeveridad == 'Complicada'
            ? '#FF4500'
            : incidencia.DetalleSeveridad == 'Muy alta'
            ? '#e91e63'
            : '#F6DE0C'
      }">{{ incidencia.Descripcion | titlecase }}</mat-card-title>
        <mat-card-subtitle>{{ incidencia.DetalleSistema }}-{{ incidencia.NombreModulo }} </mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <mat-nav-list>
            <a mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <span class="truncate">Reportado por: {{ incidencia.Area }}</span>


            </a>
            <a mat-list-item>
                <mat-icon mat-list-icon>person</mat-icon>
                <span class="truncate">
            Asignado a: {{ incidencia.UsuarioAsignado }}</span
          >
      </a>

      <a mat-list-item color="warn">
        <mat-icon
          [ngStyle]="{
            color:
              incidencia.DetalleSeveridad == 'Muy baja'
                ? '#B0BFD6'
                : incidencia.DetalleSeveridad == 'Baja'
                ? '#ADD8E6'
                : incidencia.DetalleSeveridad == 'Media'
                ? '#F6DE0C'
                : incidencia.DetalleSeveridad == 'Alta'
                ? '#EF7F1A'
                : incidencia.DetalleSeveridad == 'Complicada'
                ? '#FF4500'
                : incidencia.DetalleSeveridad == 'Muy alta'
                ? '#e91e63'
                : '#F6DE0C'
          }"
          mat-list-icon
          >warning</mat-icon
        >

        <span
          class="truncate"
          [ngStyle]="{
            color:
              incidencia.DetalleSeveridad == 'Muy baja'
                ? '#B0BFD6'
                : incidencia.DetalleSeveridad == 'Baja'
                ? '#ADD8E6'
                : incidencia.DetalleSeveridad == 'Media'
                ? '#F6DE0C'
                : incidencia.DetalleSeveridad == 'Alta'
                ? '#EF7F1A'
                : incidencia.DetalleSeveridad == 'Complicada'
                ? '#dc143c'
                : incidencia.DetalleSeveridad == 'Muy alta'
                ? 'red'
                : 'white'
          }"
          >Severidad: {{ incidencia.DetalleSeveridad }}</span
        >
      </a>

      <a mat-list-item>
        <mat-icon mat-list-icon>report</mat-icon>

        <span>Estatus {{ incidencia.DetalleEstatus }} </span>
            </a>
            <a mat-list-item>
                <mat-icon mat-list-icon>label</mat-icon>

                <span class="truncate">
          Observaciones: {{ incidencia.Observaciones }}</span
        >
      </a>
      <a mat-list-item color="warn">
        <mat-icon mat-list-icon>event</mat-icon>

        <span class="truncate">
          {{ incidencia.FechaHoraReporte | date: "dd/MM/yyyy" }}
        </span>
            </a>
        </mat-nav-list>
    </mat-card-content>
    <mat-card-actions class="centrado">
        <button mat-raised-button color="accent" [routerLink]="['/incidencias', incidencia.Id]" routerLinkActive="router-link-active">
      Más Detalles
    </button>
        <button mat-button color="accent" class="bgC" (click)="openDialog()">Ver evidencias</button>

    </mat-card-actions>
</mat-card>