/* md-card {
    min-width: 200px;
  }
  
  .container {
    overflow: auto;
  }
  md-card {
    min-width: 200px;
  }
  
  div[layout="row"] {
    overflow: auto;
  } */


.child-1 {
  text-align: center;
  margin-left: 10px;
  margin-top: 10px;
}

.card-block {
  width: 300px;
}

/* Para 960px */  
/* @media only screen and (max-width: 980px) and (min-width: 821px) {  
  .flex-nowrap {
    flex-wrap: wrap !important;
  }
  .wrap{
    flex-wrap: wrap !important;
  }
}   */
  
/* Para 800px */  
/* @media only screen and (max-width: 820px) and (min-width: 621px) {  
  .flex-nowrap {
    flex-wrap: wrap !important;
  }
  .wrap{
    flex-wrap: wrap !important;
  }
}   */
  
/* Para 600px */  
/* @media only screen and (max-width: 620px) and (min-width: 501px) {  
  .flex-nowrap {
    flex-wrap: wrap !important;
  }
  .wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
  }
}   */
  
/* Para 480px */  
@media only screen and (max-width: 500px) and (min-width: 341px) {  
  .flex-nowrap {
    flex-wrap: wrap !important;
  }
  /* .wrap{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    grid-auto-rows: 100px;
  }
  .wrapper {
   
  } */
  
}  
  
/* Para 320px */  
@media only screen and (max-width: 340px) and (min-width: 5px)  {  
  .flex-nowrap {
    flex-wrap: wrap !important;
  }
  .wrap{
    flex-wrap: wrap !important;
  }
} 